<div class="container-fluid">
  <div class="col">
    <div class="card card-default mt-1">
      <div class="card-header">
        <div class="card-heading-container">
          <div class="row justify-content-between">
            <div class="meta col-10">
              <div class="form-inline">
                <a class="p small text-primary my-auto mx-2" href="<%= user_profile_view_path(user_id:post.user.id) %>"><%=post.user.name %> <%=post.user.last_name %></a>
                <p class="p small text-secondary my-auto mx-2"><%=post.user.email %> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
