<head>
  <script type="text/javascript" src="js_post_view.js"></script>
</head>


<body>

<div class="main-container col-4 mx-auto">
  <% @users.each do |user| %>
    <% if (not user.nil?) %>
        <%= render "search/profile_pill", user:user %>
    <% end %>
  <% end %>
</div>


</body>

