<div class="container col-md-6">
  <div class="tab-content">
    <div id="create-account-nav" class="container tab-pane active"><br>
      <h2>Log in</h2>
      <div class="card">
        <div class="card-body">
<!--          <form>-->
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <button class="btn btn-outline-dark" onclick="startRegularUser()" style="float:right">Login</button>
            <button class="btn btn-outline-dark mr-2" style="float:right"><%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %></button>
            <button class="btn btn-link mr-2" style="float:left">Forgot Password?</button>
<!--          </form>-->
        </div>
      </div>
    </div>
  </div>
</div>
