<div class="panel panel-default w-25 mx-auto">

  <div class="panel-heading">
    <h2 class="text-primary mx-auto">Login</h2>
    <h1 class="text-primary mx-auto">AngryLusho</h1>
  </div>

  <div class="panel-body mx-auto">
    <div class="col">

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
      </div>
      <form class="form-inline justify-content-center">
        <a class="mx-1" href="#">Create Account</a>
        <button class="btn btn-primary mx-1">Sign In</button>
      </form>
    </div>
  </div>
</div>


