<div class="container col-md-6">
  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="pill" href="#create-account-nav">Step 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#create-profile-nav">Step 2</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="create-account-nav" class="container tab-pane active"><br>
      <h2>Create your account</h2>
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <label for="user-name">Name:</label>
            <input type="text" class="form-control" id="user-name" name="user-name">
          </div>
          <div class="form-group">
            <label for="user-last-name">Last name:</label>
            <input type="text" class="form-control" id="user-last-name" name="user-last-name">
          </div>
          <div class="form-group">
            <label for="user-email">Email:</label>
            <input type="email" class="form-control" id="user-email" name="user-email">
          </div>
          <div class="form-group">
            <label for="user-password">Password:</label>
            <input type="password" class="form-control" id="user-password" name="user-password">
          </div>
          <div>
            <button class="btn btn-outline-primary" type="submit">Next</button>
          </div>
        </div>
      </div>
    </div>
    <div id="create-profile-nav" class="container tab-pane"><br>
      <h2>Create your profile</h2>
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <label for="user-name">Name:</label>
            <input type="text" class="form-control" id="user-name" name="user-name">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>