<!DOCTYPE html>
<html>
<head>
  <script type = "text/javascript" src = "js_session.js" ></script>
</head>

<body>
  <div class="container col-md-6">
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item">
        <a id="tab-step-1" class="nav-link active disabled" data-toggle="pill" href="#create-account-nav">Step 1</a>
      </li>
      <li class="nav-item">
        <a id="tab-step-2" class="nav-link disabled" data-toggle="pill" href="#create-profile-nav">Step 2</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div id="create-account-nav" class="container tab-pane active"><br>
        <h2>Create your account</h2>
        <div class="card">
          <div class="card-body">
<!--            <form>-->
              <div class="form-group">
                <label for="user-name">Name:</label>
                <input type="text" class="form-control" id="user-name" name="user-name">
              </div>
              <div class="form-group">
                <label for="user-last-name">Last name:</label>
                <input type="text" class="form-control" id="user-last-name" name="user-last-name">
              </div>
              <div class="form-group">
                <label for="user-email">Email:</label>
                <input type="email" class="form-control" id="user-email" name="user-email">
              </div>
              <div class="form-group">
                <label for="user-password">Password:</label>
                <input type="password" class="form-control" id="user-password" name="user-password">
              </div>
              <div class="form-group">
                <label for="user-again-password">Re-Enter password:</label>
                <input type="password" class="form-control" id="user-again-password" name="user-again-password">
              </div>
              <button id="next-button" onclick="goToCreateProfile()" class="btn btn-outline-primary next-button" type="submit" style="float:right">Next</button>
<!--            </form>-->
          </div>
        </div>
      </div>
      <div id="create-profile-nav" class="container tab-pane"><br>
        <h2>Create your profile</h2>
        <div class="card">
          <div class="card-body">
            <form action="">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div>
                      <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png" width="150vw" height="150vw" style="margin: 5%">
                    </div>
                    <div class="col-md-6">
                      <button class="btn btn-outline-primary btn-sm">Select photo</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="profile-city">City:</label>
                    <select class="form-control" id="profile-city" name="profile-city">
                      <option>Santiago</option>
                      <option>Roma</option>
                      <option>Sydney</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="profile-country">Country:</label>
                    <select class="form-control" id="profile-country" name="profile-country">
                      <option>Brasil</option>
                      <option>Chile</option>
                      <option>Francia</option>
                    </select>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value="">Give my GPS location
                    </label>
                  </div>
                </div>
              </div>
            </form>
            <div class="form-group">
              <label for="profile-biography">Biography:</label>
              <textarea class="form-control" id="profile-biography" name="profile-biography"></textarea>
            </div>
            <button class="btn btn-outline-primary" onclick="startRegularUser()" type="submit" style="float:right">Finish</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>