<!--<h1>Editing User</h1>-->

<div class="h1 text-primary text-center">Account Settings</div>
  <%= render 'form', user: @user %>
<!--<%#= link_to 'Show', @user %> |-->
<%#= link_to 'Back', users_path %>
