<h2>AngryLusho</h2>


<p>Developed by<br>
  <ul>
    <li>Matías Cánepa</li>
    <li>Vicente Correa</li>
  </ul>
</p>

<a href="<%= users_path %>">User Index</a><br>
<a href="<%= new_user_path %>">Create New User</a>


