<div class="row">
  <div class="post-container col-7 mx-auto">
    <div class="h1 text-dark">Post</div>
    <%if(@posts != nil)%>
      <%= render "posts/post_view", post:@posts%>
    <%end %>
  </div>
</div>