// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.history {
  background-color: LightCyan;
}

.table {
  background-color: white;
}

#manage-users tr td:FIRST-CHILD{
  background-color: white !important;
  border: 1px solid white;
  border-right: LightGray;
}

#manage-users tr th:FIRST-CHILD{
  border: 1px solid white;
  border-right: LightGray;
}


