@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

html {
  min-height: 100%;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

body {
  margin-top: 80px;
  margin-bottom: 80px;
}

.bg-my-color {
  background-color: RoyalBlue;
}


.user-image {
  border-style: outset;
}

.user-image:hover {
  //opacity: .6;
  border-style: inset;
}

.angry-lusho-text {
  text-shadow: 3px 2px black;
}

.card-header{
  //background:;
}

.post-icon{
  font-size: small;
}

.google-icon {
  width: 7%;
  height: auto;
}

.google-button {
  color: #4285F4;
  border: 1px solid #4285F4;
}

.container-1 {
  background: white;
  border-radius: 10px;
}